[Unit]
Description=Rbuilder - Block building operator for MEV-Boost
Documentation=https://github.com/flashbots/rbuilder-operator
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=exec
DynamicUser=yes
StateDirectory=rbuilder
ExecStart=/usr/bin/rbuilder run /etc/rbuilder/config.toml

[Install]
WantedBy=multi-user.target
